<div class="panel">
    <div class="main">
        <div class="header">
            <div>Выберите друзей</div>
        </div>
        <div>
            <div class="filter">
                <input type="text" placeholder="Начните вводить имя друга" class="input" id="filter-general-input">
            </div>
            <div class="filter">
                <input type="text" placeholder="Начните вводить имя друга" class="input" id="filter-selected-input">
            </div>
            <div style="clear: both;"></div>
            <div class="list general" id="general">

            </div>
            <div class="list selected" id="selected">

            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="footer">
            <button id="btnSave" class="save-btn">Сохранить</button>
        </div>
    </div>
</div>