{{#each items}}
    <div class="friend" data-id="{{id}}" draggable="true">
        <img src="{{photo_50}}" class="photo">
        <div class="name">{{first_name}} {{last_name}}</div>
        <button class="friend-btn"></button>
    </div>
{{/each}}